
/* General Format for Body */
*{
    margin:0;
    padding:0;
    font-family: 'Fira sans', sans-serif;
}

/* Nav Bar */
nav{
    /* Fixed position nav bar to the top */
    position:fix; 
    /* background color */
    background-color: transparent;
    padding: 1.5em;
    font-weight: bold;
}
.container{
    /* Flex: make newline next to each other */
    display: flex; 
    flex-direction: row;
    /* Make items center */
    align-items: center;
    justify-content:space-between;
}
.menu{
    display:block;
    padding-right: 10em;
}


/* Heading */

h1 {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color:goldenrod;
}
h3{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color:goldenrod;
    padding-bottom: 10px;
}
/*About */
p{
    font-size: 1em;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: black;
    opacity: 0.7;
}
/* Logo */
#logo{
    height:100px;
    padding-left: 3em;
}
/* Body */
body{
    
    color:white;
    background-image: url(images/background-ocean.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}


.flexbox-container{
    display: flex;
    margin: 5em;
    gap:20px;
}
.flexbox-item{
    border: 2px solid black;
    border-radius: 10px;
    flex: 1 1 0;
    width:0;
    text-align: center;
    padding:10px;

}

/* Link */
a{
    color:goldenrod;
    text-decoration: none;
}
/* li */
li{
    color: black;
    opacity: 0.7;
    font-weight: bold;
}

/* Icons */
.social-icons{
    height: 30px;
}

/* Media */
/* iPhone X*/
@media screen and (max-width: 375px) {
    .flexbox-container{
        display: flex;
        gap:2px;
        margin:1px;
    }
    .flexbox-item{
        border: 2px solid black;
        border-radius: 10px;
        width: 300px;
        text-align: center; 
    }
}
/* iPhone 6/7/8+ */
@media screen and (max-width: 414px) {
    .flexbox-container{
        display: flex;
        gap:2px;
        margin:1px;
    }
    .flexbox-item{
        border: 2px solid black;
        border-radius: 10px;
        text-align: center; 
    }
}